<div >
  <h1>Vivero El Otoño</h1>
  <hr id="divTitle">
  <div id="portada">
    <img src="..\assets\images\image 2.png">
  </div>
  <hr >
 
  <table class="table">
    <thead class="table-dark" >
      <tr class="encabezado">
        <th scope="col">#</th>
        <th scope="col" ><span id="nombre">Nombre común</span></th>
        <th scope="col">Tipo</th>
        <th scope="col">Clima</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let planta of plantas" class="planta">
      <td id='planta{{planta.id}}'  class="idplanta rowline{{planta.id}}">{{planta.id}}</td>
      <td class='rowline{{planta.id}}'>{{planta.nombre_comun}}</td>
      <td class='rowline{{planta.id}}'>{{planta.tipo}}</td>
      <td class='rowline{{planta.id}}'>{{planta.clima}}</td>
    </tr>
     
    </tbody>
  </table>
  <p>Total plantas de interior: {{getInteriores()}}</p>
  <p>Total plantas de exterior: {{getExteriores()}}</p>
  <div id="footer-container">
  <span id="footer">Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</span></div>
</div>
