#portada {
  display: flex;
  justify-content: center;
}
#divTitle {
  box-shadow: 0px 4px 4px #000000f6;
}
hr {
  margin: 4.5%;
  margin-top: 1%;
  margin-bottom: 1.5%;
}
h1 {
  margin-left: 4.5%;
  margin-top: 1%;
  font-family: "KaiseiDecol";
  font-weight: normal;
  -webkit-text-stroke: 1px #000;

  text-shadow: 0px 4px 4px #00000073;
}
.custom-header {
  background-color: #000 !important;
}
#nombre {
  text-shadow: -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px -1.5px 0 #000;
}
.table {
  font-family: "Inter";
  width: 50%;
  margin-left: 4.5%;
  --bs-table-bg: #00000000;
  text-shadow: 0px 4px 4px #00000073;
}
#planta1 {
  font-weight: bolder;
  -webkit-text-stroke: 1px #000;
}

.idplanta {
  font-weight: bold;

  text-shadow: 0px 4px 4px #00000073;
}
th {
  box-shadow: 0px 3px 3px #2125297a;
}
td {
  box-shadow: 0px 3px 0px #2f31331c;
}
p {
  margin-left: 4.5%;
  margin-bottom: 0;
  font-weight: medium;
}
#footer {
  display: flex;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000073;
  -webkit-text-stroke: 1px #000;
  font-family: "Inter";
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}
.rowline6{
   border-color: white;
   box-shadow: 0 0 0 white;
}
